# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/

# Static files collected
staticfiles/

# Environment variables
.env
.env.*

# Migrations (optionnel)
# */migrations/*
# !*/migrations/__init__.py

# IDE
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Coverage
.coverage
.coverage.*
htmlcov/

# Type checkers
.mypy_cache/
.pyre/
.pytype/

# Jupyter
.ipynb_checkpoints/

# Celery
celerybeat-schedule

# Local settings
local_settings.py